# Goreleaser
dist/
.github/release-notes.md

# Build
provider-exoscale
*.out

# Docs
.cache/
.public/
node_modules/

# work
.kind/
.work/
.vscode/

# Crossplane package
/package/crossplane.yaml
/package/*.xpkg

# kuttl
kubeconfig
